body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding-top: 60px;
}

.main_container {
  display: flex;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #282828;
  flex-direction: column;
}

.section1 {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#box1 {
  display: flex;
  flex-grow: 2;
  height: 150px;
  margin-right: 7px;
  padding-left: 8px;
}

#box2 p {
  margin: 5px 0;
}

#box3 {
  flex-basis: 100%;
  text-align: start;
  color: #616161;
  padding-top: 30px;
}

#box2 a {
  color: #00bfff;
}

.tablediv {
  margin: 0px 10px 0px 10px;
}

.label {
  text-align: end;
}

.data {
  text-align: start;
  padding-left: 10px;
  color: #616161;
}

.lower_container {
  display: flex;
}

.section2 {
  flex-grow: 2;
  margin-right: 7px;
  padding-top: 30px;
  padding-right: 30px;
}

.section3 {
  padding-top: 30px;
  flex-grow: 1;
  flex-direction: column;
}

.profile-picture {
  width: 150px;
  height: fit-content;
}
.profile-name {
  padding-left: 25px;
  padding-right: 25px;
  text-align: start;
}

h1 {
  margin: auto;
  color: #fff5ee;
}

h2 {
  margin: auto;
  color: #3e6a93;
}

@media screen and (max-width: 600px) {
  .profile-picture {
    display: none;
  }
  .section1 {
    flex-direction: column;
  }

  .section3 {
    order: 2;
  }

  .section2 {
    order: 3;
  }

  /* .main_container {
    flex-direction: column;
  } */
  .lower_container {
    flex-direction: column;
  }
}

.fa-chevron-down {
  background-color: #00bfff;
  padding: 6px;
  border-radius: 10%;
}

.employmentHeading,
.educationHeading {
  display: flex;
  flex-flow: row;
  background-color: #373737;
  margin: auto;
}

.employmentSubText,
.educationSubText {
  display: flex;
  padding-top: 30px;
}

.headingThree {
  margin: 0;
  padding-left: 15px;
  text-align: start;
  align-content: center;
}

.fa-circle-chevron-right {
  color: #00bfff;
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 100%;
}

.contentHeader {
  margin: 0;
  text-align: start;
}

h4,
h3 {
  margin: 0;
  padding-left: 15px;
}

h4,
p {
  color: #616161;
  margin-top: 20px;
}

hr {
  border: #373737 solid 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.date {
  margin-left: auto;
  color: #616161;
}

.education {
    margin-top: 60px;
}

.education .fa-chevron-down {
  background-color: green;
}

.educationSubText .fa-circle-chevron-right {
  color: green;
}

.skill {
  padding-top: 20px;
}
.ratebody {
  width: 200px;
  height: 15px;
  background-color: #373737;
}
.rate {
  height: 15px;

  font-size: small;
  font-weight: 600;
  text-align: right;
}

.side-bar-heading {
  padding-left: 0;
}

p {
  text-align: start;
}

h5 {
  margin: 0;
  color: #616161;
  padding-bottom: 5px;
}

#rate1 {
  width: 170px;
  background-color: #0199cc;
}
#rate2 {
  width: 145px;
  background-color: #40cfff;
}

#rate3 {
  width: 186px;
  background-color: #009732;
}
#rate4 {
  width: 145px;
  background-color: #c08e04;
}

#rate5 {
  width: 130px;
  background-color: #dd0404;
}

.graphic-skills {
  margin: 0;
  text-align: start;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 0;
}

.photoshop {
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 10px;
  color: #616161;
}
.deep-blue-box {
  height: 10px;
  width: 10px;
  background-color: #0199cc;
  margin-right: 10px;
}

.light-blue-box {
  height: 10px;
  width: 10px;
  background-color: #40cfff;
  margin-right: 10px;
}

.deep-green-box {
  height: 10px;
  width: 10px;
  background-color: #009732;
  margin-right: 10px;
}
.deep-yellow-box {
  height: 10px;
  width: 10px;
  background-color: #c08e04;
  margin-right: 10px;
}
.deep-red-box {
  height: 10px;
  width: 10px;
  background-color: #dd0404;
  margin-right: 10px;
}
.english {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  color: #616161;
}
.english-container-circle {
  display: flex;
  align-items: center;
}
.en-circle1,
.en-circle2,
.en-circle3,
.en-circle4 {
  height: 20px;
  width: 20px;
  background-color: #40cfff;
  border-radius: 100%;
  margin-right: 2px;
}

.en-circle5 {
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 100%;
  border: 3px solid #373737;
}

.french {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding-top: 10px;
  color: #616161;
}
.french-container-circle {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.fr-circle1,
.fr-circle2,
.fr-circle3 {
  height: 20px;
  width: 20px;
  background-color: #009732;
  border-radius: 100%;
  margin-right: 2px;
}

.fr-circle4 {
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 100%;
  border: 3px solid #373737;
}
.fr-circle5 {
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 100%;
  border: 3px solid #373737;
}

.spain {
  display: flex;
  align-items: center;
  width: 200px;
  padding-top: 10px;
  justify-content: space-between;
  color: #616161;
}
.spain-container-circle {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.sp-circle1,
.sp-circle2,
.sp-circle3,
.sp-circle4 {
  height: 20px;
  width: 20px;
  background-color: #c08e04;
  border-radius: 100%;
  margin-right: 2px;
}

.sp-circle5 {
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 100%;
  border: 3px solid #373737;
}
